!!! XML
!!! Strict
%html
  %head
    %title SabreTech Consulting LLC, OpenHouse 2008
    %meta{'http-equiv' => 'content-type', :content => 'text/html; charset=utf-8'}
    %link{:charset => 'utf-8', :href => '/stylesheet.css', :media => 'screen', :rel => 'stylesheet', :type => 'text/css'}
  %body
    %div#title
      %a{:href => "http://openhouse.sabretechllc.com"}
        %img{:src => "/header.png", :width => "680px"}
        %img{:src => "/border.png", :width => "690px"}
    %div#container
      %div#nav
        %ul
          %li
            %a{:href => "http://www.sabretechllc.com/sales", :class => "first divider"} Products
          %li
            %a{:href => "http://www.sabretechllc.com/services", :class => "divider"} Services
          %li
            %a{:href => "http://www.sabretechllc.com/about", :class => "divider"} About Us
          %li
            %a{:href => "http://www.sabretechllc.com/blog", :class => ""} SabreBlog
      %div#page_description
        %ul
          - @people.each do |person|
            %li
              %a{:href => "/person/#{person.id}"}= "#{person.firstname} #{person.lastname}"
      %div#footer
        %p Designed by SabreTech
