!!! XML
!!! Strict
%html
  %head
    %title SabreTech Consulting LLC, OpenHouse 2008
    %meta{'http-equiv' => 'content-type', :content => 'text/html; charset=utf-8'}
    %link{:charset => 'utf-8', :href => '/stylesheet.css', :media => 'screen', :rel => 'stylesheet', :type => 'text/css'}
  %body
    %div#title
      %a{:href => "http://openhouse.sabretechllc.com"}
        %img{:src => "/header.png", :width => "680px"}
        %img{:src => "/border.png", :width => "690px"}
    %div#container
      %div#nav
        %ul
          %li
            %a{:href => "http://www.sabretechllc.com/sales", :class => "first divider"} Products
          %li
            %a{:href => "http://www.sabretechllc.com/services", :class => "divider"} Services
          %li
            %a{:href => "http://www.sabretechllc.com/about", :class => "divider"} About Us
          %li
            %a{:href => "http://www.sabretechllc.com/blog", :class => ""} SabreBlog
      %div#page_description
        %p Thanks for coming to our open house! Enjoy the food and make sure to signup below to win prizes, including a brand new laptop!     
        %p Click in each box below to enter the information it asks for. When finished click the Submit button at the bottom. 
        %form{:method => 'POST', :action => "/create"}
          %table
            %tr
              %td
                %input{:type => 'text', :name => 'firstname', :value => "First Name"}
              %td
                %input{:type => 'text', :name => 'lastname', :value => "Last Name"}
            %tr
              %td
                %input{:type => 'text', :name => 'phone', :value => "Phone Number"}
              %td                                                    
                %input{:type => 'text', :name => 'email', :value => "Email Address"}
            %tr
              %td{:colspan => "2"}
                %input{:type => 'text', :name => 'address', :value => "Address", :class => "form_address"}
            %tr
              %td
                %input{:type => 'text', :name => 'city', :value => "City"}
              %td
                %input{:type => 'text', :name => 'state', :value => "State", :class => "form_state"}
                %input{:type => 'text', :name => 'zip', :value => "Zip Code", :class => "form_zip"}
            %tr
              %td
                %input{:type => 'submit', :value => "Submit", :class => "submit"}
      %div#footer
        %p Designed by SabreTech
  %script{:type => 'text/javascript', :src => '/jquery.js'}
  %script{:type => 'text/javascript', :src => '/actions.js'}
